
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');

// Variables
@import 'variables';

$btn-primary: $primary;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-custom {
  color: #fff
}

// Bulma

@import '~bulma/sass/utilities/_all';


@import "utilities";

// Components
@import "components/footer";

html {
  min-height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Oswald', sans-serif !important;
  min-height: 100vh;
  overflow: auto;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}