.test-announcements {
  h4 {
    font-family: "Open Sans", sans-serif;
  }

  .topic {
    background: #f3f4f6;
    padding: 3px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
  }
}